body, html {
  color: #4d4d4d;
  background-color: #fff;
  width: auto !important;
  overflow-x: hidden !important;
  font-family: Roboto Condensed; }

#notas {
  margin: 10px; }

#buscador {
  margin: 10px;
  padding: 10px; }

.brand-logo {
  margin-left: 10px; }

#slide-out .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

#slide-out .sidenav .user-view > a {
  height: auto;
  padding: 0; }

@media only screen and (max-width: 600px) {
  #slide-out {
    display: none; } }

.sidenav .user-view .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }

#modal-principal {
  padding: 10px; }

.tags {
  padding-left: 30px; }
