<div class="container">
    <h2>Acerca de Syntax Note</h2>
    <p class="text-justify">Es una aplicacion web y mobile desarrollado con la finalidad
        de anotar las ideas creativas para no olvidarlas durante el dia, tener un recordatorio de los eventos mas esperados, llevar un conjunto de tareas diarias, entre otras.</p>
    <p>Version 2 | 2019-2025 MetalSyntax</p>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light grey" href="#!/Help">
            <i class="material-icons">arrow_back</i>
        </a>
    </div>
</div>