 <!--Formulario-->
 <!--<div id="modal-principal" class="modal">
     <div class="modal-content">-->
 <div class="container">
     <h2>Ingrese una nueva Nota</h2>
     <form class="col s12">
         <div class="row">
             <div class="input-field col s12">
                 <input id="icon_prefix" type="text" class="validate" ng-model="title" />
                 <label for="icon_prefix">Titulo</label>
             </div>
         </div>
         <div class="row">
              <div class="input-field col s12">
                  <div id="editor-container" style="height: 300px;"></div>
                  <!-- <textarea id="icon_prefix2" class="materialize-textarea" ng-model="message"></textarea>
                  <label for="icon_prefix2">Mensaje</label> -->
              </div>
          </div>
      </form>
     <div id="modal-footer">
         <!--<a href="#" class="grey-text waves-effect waves-gray btn-flat"><i class="material-icons">color_lens</i></a>
             <a href="#" class="grey-text waves-effect waves-gray btn-flat"><i
                     class="material-icons">attach_file</i></a>
             <a href="#" class="grey-text waves-effect waves-gray btn-flat"><i
                     class="material-icons">label_outline</i></a>
             <a href="#" class="grey-text waves-effect waves-gray btn-flat"><i class="material-icons">more_vert</i></a>-->
         <a href="#!/" class="modal-close waves-effect waves-gray btn-flat right"
             ng-click="add(title,message)">Aceptar</a>
         <a href="#!/" class="modal-close waves-effect waves-gray btn-flat right">Rechazar</a>
     </div>
 </div>
 <!--</div>
 </div>-->
 <!--Formulario-->